<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <button type="submit">Login</button>
</form>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<p>Belum punya akun? <a href="{% url 'signup' %}">Daftar di sini</a></p>
